/* Global Styles */

:root {
  --khaki: hsl(20, 90%, 92%);
  --carrot: hsl(22, 82%, 53%);
  --sherbert: hsl(22, 92%, 70%);
  --chocolate: hsl(20, 20%, 24%);
  --darkChocolate: hsl(21, 50%, 8%);
  --fontSize: 12px;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFF;
}

h1 {
  color: var(--chocolate);
  font-size: 3rem;
  font-weight: 800;
  margin: 20px 0 15px 0;
}

h3 {
  color: var(--sherbert);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 40px;
}

p {
  color: var(--chocolate);
  font-weight: 400;
}
/* Header Styles */

.main-container {
  margin: 5px;
  /* border: 1px solid blue; */
}

.header-container {
  background-color: var(--khaki);
  border-radius: 20px 20px 0 0;
}

.nav-container {
  border: 1px solid black;
  margin: 0 auto;
  height: 70px;
  width: 80%;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.nav {
  display: flex;
  padding-top: 10px;
  height: 50px;
  width: 100%;
}

.site-logo {
  height: 40px;
  width: auto;
  /* margin-right: auto; */
  border: 1px solid black;
}

.nav li {
  display: inline-block;
  color: var(--chocolate);
  margin-right: 20px;
}

.nav .active-link {
  color: var(--sherbert);
}

.active-link:before {
  content: 'o '
}

.bold-link {
  font-weight: 600;
}

.filled-button {
  background: linear-gradient(var(--sherbert), var(--carrot));
  color: white;
  border-radius: 10px;
  padding: 2px 20px;
  border: 1px solid var(--sherbert);
  /* height: 40px; */
  border: 1px solid black;
}

.hero-container {
  display: flex;
  border: 1px solid yellow;
  width: 80%;
  height: 500px;
  margin: 0 auto;
}

.hero-intro {
  flex: 1;
}

.hero-intro > h3 {

}

.hero-image {
  border: 1px solid white;
  flex: 1;
  text-align: center;
}

/* Footer Styles */

.footer-container {
  background-color: var(--khaki);
}
