/* Global Styles */

:root {
  --khaki: hsl(20, 90%, 92%);
  --carrot: hsl(22, 82%, 53%);
  --sherbert: hsl(22, 92%, 70%);
  --chocolate: hsl(20, 20%, 24%);
  --darkChocolate: hsl(21, 50%, 8%);
  --fontSize: 12px;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFF;
}

h1 {
  color: var(--chocolate);
  font-size: 3rem;
  font-weight: 800;
  margin: 20px 0 15px 0;
}

h3 {
  color: var(--sherbert);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  /* margin-top: 40px; */
}

p {
  color: var(--chocolate);
  font-weight: 400;
}

/* Header Styles */

header, .hero, footer {
  background-color: var(--khaki);
}

.nav-container {
  border: 1px solid black;
}

.nav {

}

.site-logo {
  height: 40px;
  width: auto;
}

/* .nav li {
  display: inline-block;
  color: var(--chocolate);
  margin-right: 20px;
} */

/* .nav .active-link {
  color: var(--sherbert);
} */

/* .active-link:before {
  content: 'o '
} */

/* .bold-link {
  font-weight: 600;
} */

/* button {
  background: linear-gradient(var(--sherbert), var(--carrot));
  color: white;
  padding: 2px 20px;
  border-radius: 10px;
  border: 1px solid var(--sherbert);
} */
