/* Global Styles */

:root {
  --khaki: hsla(20, 90%, 92%, 1);
  --carrot: hsla(22, 82%, 53%, 1);
  --sherbert: hsla(22, 92%, 70%, 1);
  --chocolate: hsla(20, 20%, 24%, 1);
  --darkChocolate: hsla(21, 50%, 8%, 1);
  --fontSize: 12px;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
  font-weight: 400;
  color: var(--chocolate);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFF;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 20px 0 15px 0;
}

h3 {
  color: var(--sherbert);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 40px;
}

li, a, button {
  font-weight: 500;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

button {
  background: linear-gradient(var(--sherbert), var(--carrot));
  color: hsla(0, 0%, 100%, 1);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  transition: all 0.3s ease 0s;
}

button:hover {
  background: linear-gradient(hsla(22, 92%, 70%, 0.8), hsla(22, 82%, 53%, 0.8));
}

/* Header Styles */

header, .hero, footer {
  background-color: var(--khaki);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15%;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: auto;
  cursor: pointer;
}

.nav_links li {
  display: inline-block;
  padding-right: 40px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: var(--sherbert)
}


/* .nav li {
  display: inline-block;
  color: var(--chocolate);
  margin-right: 20px;
} */

/* .nav .active-link {
  color: var(--sherbert);
} */

/* .active-link:before {
  content: 'o '
} */

/* .bold-link {
  font-weight: 600;
} */
